name: Generate README Metrics

on:
  schedule:
    - cron: "0 8 * * *"
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: metrics
  cancel-in-progress: true

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      # Main card (no big commit totals)
      - name: Generate metrics.svg
        uses: lowlighter/metrics@latest
        with:
          user: maaackz
          token: ${{ secrets.METRICS_TOKEN || secrets.GITHUB_TOKEN }}

          template: classic
          config_timezone: Asia/Singapore

          # Remove "activity" to stop the big commits/contrib summary
          base: header, community, metadata
          plugin_calendar: no

          output_action: commit
          committer_branch: main
          filename: metrics.svg

      # Languages card (focused on current repos)
      - name: Generate metrics.langs.svg
        uses: lowlighter/metrics@latest
        with:
          user: maaackz
          token: ${{ secrets.METRICS_TOKEN || secrets.GITHUB_TOKEN }}
          template: classic
          base: "" # Set base to empty to only show the languages card
          plugin_languages: yes
          plugin_languages_sections: most-used, recently-used
          plugin_languages_indepth: yes
          # plugin_languages_indepth_custom: DevT02/notelify,DevT02/ForgetGate,DevT02/Junk-Remover
          
          # plugin_languages_ignored: html, css, svg, shell, powershell, batchfile, batch
          plugin_languages_details: bytes-size, percentage          
          plugin_languages_limit: 8  
          output_action: commit
          committer_branch: main
          filename: metrics.langs.svg
